@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --general-black: #050404;
  --text-color: #ffffff;
  --hover-animation: #ffd76e;
  --opacitywhitebackground: #ffffffe5;
  --wideborder: #8cbaff;
  --requisites-color: #000000;
}
body {
  font-family: "Inter";
}

header {
  background-color: var(--general-black);
  width: 1438.02px;
  margin: 0 auto;
}

.header-menu-list {
  width: 560.3px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-right: 209.17px;
  height: 72px;
  align-items: center;
}

header a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  transition: 0.5s;
}

.header-games {
  width: 30.98px;
}
.header-news {
  width: 58.96px;
}
.header-about {
  width: 61.96px;
}
.header-help {
  width: 118.92px;
}
.header-support {
  width: 93.94px;
}
.header-hotline {
  width: 92.94px;
}

header a:hover {
  font-weight: 500;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdc18,
    0 0 30px #ffdc18, 0 0 40px #ffdc18, 0 0 55px #ffdc18, 0 0 75px #ffdc18,
    0px 0px 6px rgba(255, 215, 110, 0);
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 800px;
  background-image: url("../img/solgers.webp");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 1439.01px;
}

.main-title {
  font-size: 128px;
  font-weight: 400;
  margin-top: 74.91px;
  color: var(--text-color);
  margin-left: 142.9px;
}

.main-subtitle {
  font-size: 64px;
  font-weight: 400;
  margin-top: 12.5px;
  color: var(--text-color);
  margin-left: 142.9px;
  margin-bottom: 6.5px;
}

.main-textbox {
  height: 150px;
  width: 459.69px;
  margin-left: 142.9px;
  margin-top: 12.5px;
}

.main-text {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  color: var(--text-color);
  line-height: 29.05px;
}

.main-btn {
  margin-top: 54.5px;
  background-color: var(--hover-animation);
  width: 199.86px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: 400;
}

.main-section .main-getstarted {
  display: inline-block;
  margin: 0 auto;
  margin-top: 270px;
  align-self: center;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 100;
  line-height: 29.05px;
  margin-bottom: 13px;
}

.arrow-down-img {
  width: 10px;
  height: 4.5px;
  align-self: center;
}

.aboutus {
  width: 1440px;
  height: 1211px;
  background-color: var(--general-black);
  color: var(--text-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.aboutus-title {
  width: 610px;
  height: 116px;
  font-size: 48px;
  font-weight: 400;
  line-height: 58.09px;
  text-align: center;
  align-self: center;
  color: var(--hover-animation);

  margin-top: 40px;
  margin-bottom: 40px;
}

.aboutus-text1 {
  width: 892px;
  height: 80px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: justify;
  align-self: center;
  margin-bottom: 40px;
}

.aboutus-text2 {
  width: 892px;
  height: 80px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: justify;
  align-self: center;
  margin-bottom: 112px;
}

.aboutus-people {
  width: 858px;
  height: 626px;
  margin: 0 auto;
}

.aboutus-people-1-3_4 {
  display: flex;
  margin: 0 auto;
}

.aboutus-people-1-3 {
  width: 542px;
}

.aboutus-people-4 {
  width: 300px;
  margin-left: 20px;
}

.aboutus-people-title {
  color: var(--hover-animation);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 32.15px;
  margin-top: 100px;
}

.aboutus-people-levenko {
  margin-bottom: 4px;
  border: 2px var(--hover-animation) solid;
}

.aboutus-levenkotext {
  text-align: center;
}

.aboutus-people-1_2-3 {
  display: flex;
  flex-direction: column;
}

.aboutus-people-item1 {
  align-self: flex-end;
}

.aboutus-doroshenkotext {
  line-height: 29px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.aboutus-people-list2-3 {
  display: flex;
}

.aboutus-people-2 {
  margin-right: 20px;
  width: 302px;
}

.aboutus-people-3 {
  width: 212px;
}

.aboutus-balinskyitext {
  line-height: 29px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.aboutus-parkertext {
  line-height: 29px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.aboutus-levenkotext {
  line-height: 29px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.aboutus-people-doroshenko {
  border: 2px var(--hover-animation) solid;
}
.aboutus-people-balinskyi {
  border: 2px var(--hover-animation) solid;
}

.city {
  background-image: url("../img/flag.png");
  height: 300px;
  width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  box-shadow: -1px 1px 8px -3px #00000040 inset;
}

.city-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;

  margin-top: 75px;
  margin-bottom: 25px;
}

.city-text {
  width: 351px;
  height: 92px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: center;
  align-self: center;
}

.information {
  background-color: var(--general-black);
  width: 1440px;
  height: 644px;
  margin: 0 auto;
  display: flex;
}

.information-title {
  width: 625px;
  height: 70.84px;
  font-size: 54px;
  font-weight: 400;
  line-height: 77.45px;
  color: var(--hover-animation);
}

.information-text {
  width: 559px;
  height: 153.64px;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: justify;
  margin-top: 46px;
  margin-bottom: 130px;
}

.information-picture {
  width: 396px;
  height: 460px;
  margin: 92px 132px 92px 144px;
}

.information-about {
  padding-right: 144px;
  padding-top: 36.8px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.information-button {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  background-color: var(--hover-animation);
}

.support-army {
  width: 1437.01px;
  height: 737.23px;
  background-color: var(--general-black);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-title {
  width: 900px;
  height: 82px;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: var(--hover-animation);
  margin-top: 40px;
  margin-bottom: 40px;
}

.support-help {
  width: 1012.44px;
  height: 528.86px;
  display: flex;
  justify-content: space-between;
}

.support-item1,
.support-item2 {
  width: 395.18px;
  border-radius: 32px;
  border: 3px;
  display: flex;
  align-items: end;
}

.support-item1 {
  background: url("../img/militaryhelp.png") no-repeat center/cover;
}

.support-item2 {
  background: url("../img/humanitarianaid.png") no-repeat center/cover;
}

.support-textbox {
  width: 395.18px;
  height: 215.77px;
  border-radius: 32px;
  background: var(--opacitywhitebackground);
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  text-align: center;
}

.games {
  width: 1440px;
  height: 1362px;
  background: url("../img/wheet.png") center/cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.games-title {
  width: 124px;
  height: 77px;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: var(--hover-animation);
  margin-top: 43px;
  margin-bottom: 30px;
}

.games-wrapper {
  width: 1134px;
  height: 294.32px;
}

.games-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.games-pictures,
.goods-pictures {
  width: 1051.79px;
  display: flex;
  justify-content: space-between;
}

.games-arrows {
}

.games-img, .goods-img {
  width: 301.79px;
  height: 294.32px;
  background-color: var(--text-color);
  border: 5px solid var(--wideborder);
}

.goods-img{
  margin-top: 80px;

}

.games-titles {
  width: 1051.79px;
  display: flex;
  justify-content: space-between;
  margin-top: 22.51px;
}
.games-titles-item {
  width: 301.79px;
}

.games-titles-text {
  height: 28.45px;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: center;
}

.games-titles-item:nth-child(2) {
  width: 431.48px;
}

.buy-goods-title {
  width: 884.07px;
  height: 77px;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: var(--hover-animation);
  margin-top: 291.73px;
  margin-bottom: 23px;
  text-align: center;
}

.achievments {
  width: 1440px;
  height: 888px;
  background-color: var(--general-black);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.achievments-title {
  height: 77px;
  width: 533px;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: var(--hover-animation);
  margin-top: 54px;
  margin-bottom: 24px;
}

.achievement-wrapper {
  height: 888px;
  width: 1011px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.achievement-column {
  width: 312px;
  height: 621px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.achivements-column1-textbox,
.achivements-column2-textbox,
.achivements-column3-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achivements-column1-textbox {
  width: 312px;
  height: 164px;
  border: 2px solid var(--hover-animation);
}

.bayraktar-img {
  width: 260px;
  height: 106px;
}

.achivements-column2-textbox {
  width: 312px;
  height: 330px;

  border: 2px solid var(--hover-animation);
}

.achivements-column3-textbox {
  width: 312px;
  height: 336px;
  border: 2px solid var(--hover-animation);
}

.achivements-column1-textbox-text,
.achivements-column2-textbox-text,
.achivements-column3-textbox-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  color: var(--text-color);
  text-align: center;
}

.achivements-column1-textbox-text {
  width: 289px;
  height: 140px;
}

.achivements-column2-textbox-text {
  width: 303px;
  height: 191px;
}

.achivements-column3-textbox-text {
  width: 282px;
  height: 140px;
}

.requisites {
  width: 1440px;
  height: 887px;
  background-color: var(--general-black);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requisites-title {
  width: 565px;
  height: 76.91px;
  font-size: 64px;
  font-weight: 400;
  line-height: 77.45px;
  color: var(--hover-animation);
  margin-top: 49.94px;
  margin-bottom: 100.87px;
}

.requisites-box {
  width: 752px;
  height: 499.44px;
  border-radius: 8px;
  background-color: var(--text-color);
  border: 4px var(--hover-animation) solid;
}

.requisites-text-yellow {
  height: 23.97px;
  color: var(--hover-animation);
  font-size: 20px;
  font-weight: 300;
  line-height: 24.2px;
  margin-top: 31.96px;
}

.requisites-text-black {
  height: 23.97px;
  color: var(--requisites-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  margin-top: 16.98px;
}

.requisites-box-wrapper {
  margin-left: 15px;
}

footer {
  height: 356.24px;
  width: 1437.01px;
  margin: 0 auto;
  background: url("../img/wheet.png") center;
  display: flex;
}

.footer-text {
  width: 477px;
  height: 58px;
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  color: var(--text-color);
  margin-left: 480px;
  margin-top: 132px;
  margin-right: 267px;
}

.footer-icons {
  width: 64px;
  height: 266px;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
}

.aboutus,
.information,
footer {
  position: relative;
}

.rectangles-left {
  position: absolute;
  left: 0px;
  top: -50px;
}

.rectangles-right {
  position: absolute;
  right: 0px;
  bottom: -500px;
}

.rectangles-bottom {
  position: absolute;
  left: 554px;
  bottom: 0px;
}

.games-pictures .games-img:nth-child(1) {
  background: url("../img/gus.png") center/cover;
}

.games-pictures .games-img:nth-child(2) {
  background: url("../img/zmiinyiisland.webp") center/cover;
}

.games-pictures .games-img:nth-child(3) {
  background: url("../img/seebattle.webp") no-repeat center/cover;
}

.goods-pictures .goods-img:nth-child(1) {
  background: url("../img/m-tac.webp") center/cover;
}

.goods-pictures .goods-img:nth-child(2) {
  background: url("../img/hoodie.webp") center/cover;
}

.goods-pictures .goods-img:nth-child(3) {
  background: url("../img/tshirt.png") no-repeat center/cover;
}